In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.DataFrame(np.random.rand(20,4),index=np.arange(100,120),columns=list('ABCD'))
df

            A         B         C         D
100  0.100975  0.207779  0.427426  0.272864
101  0.978511  0.041528  0.906912  0.580280
102  0.940314  0.798491  0.193824  0.326554
103  0.843623  0.713355  0.769356  0.927850
104  0.446903  0.832417  0.664317  0.859140
105  0.319278  0.345149  0.387067  0.818187
106  0.890131  0.265362  0.147150  0.117377
107  0.006650  0.965021  0.458996  0.173613
108  0.940898  0.132956  0.953727  0.197131
109  0.464525  0.163349  0.819014  0.509920
110  0.990002  0.217186  0.945375  0.756618
111  0.427099  0.207958  0.013433  0.451181
112  0.152049  0.022434  0.812134  0.506498
113  0.562937  0.654485  0.136052  0.667334
114  0.876701  0.192722  0.894160  0.854235
115  0.825089  0.843223  0.749778  0.953343
116  0.105976  0.166084  0.573073  0.071717
117  0.675452  0.113890  0.276569  0.790120
118  0.714798  0.198096  0.135279  0.885762
119  0.489399  0.878459  0.516730  0.107733

In [3]:
df.loc[(df['A']<0.5) & (df['C']>0.5)]

            A         B         C         D
104  0.446903  0.832417  0.664317  0.859140
109  0.464525  0.163349  0.819014  0.509920
112  0.152049  0.022434  0.812134  0.506498
116  0.105976  0.166084  0.573073  0.071717
119  0.489399  0.878459  0.516730  0.107733

In [4]:
df.iloc[np.arange(10,15),:]

            A         B         C         D
110  0.990002  0.217186  0.945375  0.756618
111  0.427099  0.207958  0.013433  0.451181
112  0.152049  0.022434  0.812134  0.506498
113  0.562937  0.654485  0.136052  0.667334
114  0.876701  0.192722  0.894160  0.854235

In [5]:
df.loc[(df['A']>0.1)]

            A         B         C         D
100  0.100975  0.207779  0.427426  0.272864
101  0.978511  0.041528  0.906912  0.580280
102  0.940314  0.798491  0.193824  0.326554
103  0.843623  0.713355  0.769356  0.927850
104  0.446903  0.832417  0.664317  0.859140
105  0.319278  0.345149  0.387067  0.818187
106  0.890131  0.265362  0.147150  0.117377
108  0.940898  0.132956  0.953727  0.197131
109  0.464525  0.163349  0.819014  0.509920
110  0.990002  0.217186  0.945375  0.756618
111  0.427099  0.207958  0.013433  0.451181
112  0.152049  0.022434  0.812134  0.506498
113  0.562937  0.654485  0.136052  0.667334
114  0.876701  0.192722  0.894160  0.854235
115  0.825089  0.843223  0.749778  0.953343
116  0.105976  0.166084  0.573073  0.071717
117  0.675452  0.113890  0.276569  0.790120
118  0.714798  0.198096  0.135279  0.885762
119  0.489399  0.878459  0.516730  0.107733

In [6]:
df.head()

            A         B         C         D
100  0.100975  0.207779  0.427426  0.272864
101  0.978511  0.041528  0.906912  0.580280
102  0.940314  0.798491  0.193824  0.326554
103  0.843623  0.713355  0.769356  0.927850
104  0.446903  0.832417  0.664317  0.859140

In [7]:
df.tail()

            A         B         C         D
115  0.825089  0.843223  0.749778  0.953343
116  0.105976  0.166084  0.573073  0.071717
117  0.675452  0.113890  0.276569  0.790120
118  0.714798  0.198096  0.135279  0.885762
119  0.489399  0.878459  0.516730  0.107733

In [8]:
df.describe()

               A          B          C          D
count  20.000000  20.000000  20.000000  20.000000
mean    0.587565   0.397997   0.539019   0.541373
std     0.326371   0.324470   0.312172   0.308604
min     0.006650   0.022434   0.013433   0.071717
25%     0.400144   0.165401   0.255883   0.253930
50%     0.619195   0.212572   0.544902   0.545100
75%     0.880059   0.734639   0.813854   0.827199
max     0.990002   0.965021   0.953727   0.953343

In [9]:
df.to_csv('panda1.csv')

In [10]:
df.loc[[0,1],[0,1]]

KeyError: "None of [Int64Index([0, 1], dtype='int64')] are in the [index]"

In [ ]:
df.describe().loc[['min','std'],[0,1]]

In [ ]:
df_copy=df.copy()
df_copy

In [ ]:
df_copy.index=list("ABNNMddddwdwfwfefefw")
df_copy.columns=list("XYZW")
df_copy.loc['B','X']=np.random.rand(1)
df_copy

In [ ]:
type(df_copy.loc['A','X'])

In [ ]:
df_copy.dtypes

In [ ]:
df_copy.drop(['X'],axis=1)

In [ ]:
df_copy.drop(['A'])

In [ ]:
df.info()

In [ ]:
df_copy.info()

In [ ]:
newdf=pd.DataFrame(data=np.array([[1,2],[6,7],[98,34]]), columns=np.arange(4,6),index=np.arange(3,6))
newdf

In [ ]:
newdf.describe()

In [ ]:
newdf.mean()

In [ ]:
newdf.corr()

In [ ]:
newdf.cov()

In [ ]:
newdf.count()

In [ ]:
newdf.max()

In [ ]:
newdf.min()

In [ ]:
newdf.std()

In [11]:
dict=({"name":['gautam','vedhas','pratik'],
       "age":['19','18','20'],
       "College":['MIT','BATU','WCE']
})

In [12]:
dict

{'name': ['gautam', 'vedhas', 'pratik'],
 'age': ['19', '18', '20'],
 'College': ['MIT', 'BATU', 'WCE']}

In [ ]:
dict['name'][0]

In [ ]:
d=pd.DataFrame(data=dict)

In [ ]:
d

In [20]:
dd=pd.DataFrame({'name':['gautam','vedhas','pratik'],
       'age':['19','18','20'],
       'College':['MIT','BATU','WCE'],
                 'Add':['MJ','Flagpole','ShivGanga']
})

In [21]:
dd

     name age College        Add
0  gautam  19     MIT         MJ
1  vedhas  18    BATU   Flagpole
2  pratik  20     WCE  ShivGanga

In [ ]:
dd.to_csv('friends.csv',index=False)

In [ ]:
li=list("GAutam is a good boy")
li

In [ ]:
ds=pd.DataFrame(data=li)
ds.drop_duplicates(keep=False)

In [ ]:
ds